<div class="container-fluid">
  <div class="row">

 <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dashboard">
                  <span data-feather="home"></span> Dashboard </a>
              </li>
              <li class="nav-item" style="margin-top: 20px;">
                <a class="nav-link" href="/masterbarang">
                  <span data-feather="archive"></span> Master Barang </a>
              </li>
              <li class="nav-item" style="margin-top: 20px;">
                <a class="nav-link" href="/barangmasuk">
                  <span data-feather="log-in"></span> Barang Masuk </a>
              </li>
              <li class="nav-item" style="margin-top: 20px;">
                <a class="nav-link" href="/barangkeluar">
                  <span data-feather="log-out"></span> Barang Keluar </a>
              </li>
              <li class="nav-item" style="margin-top: 20px;">
                <a class="nav-link" href="/laporanbarang">
                  <span data-feather="book"></span> Laporan Barang</a>
              <li class="nav-item" style="margin-top: 20px;">
                <a class="nav-link" href="/laporanmasuk">
                  <span data-feather="bar-chart-2"></span> Laporan Barang Masuk </a>
              </li>
              <li class="nav-item" style="margin-top: 20px;">
                <a class="nav-link" href="/laporankeluar">
                  <span data-feather="bar-chart-2"></span> Laporan Barang Keluar </a>
              </li>
              <li class="nav-item" style="margin-top: 20px;">
                <a class="nav-link" href="/about">
                  <span data-feather="alert-circle"></span> About </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>