{% extends 'index.html' %} {% block body %} 
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Laporan Barang Keluar</h1>
  </div>
  <div id="Loader">
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-success" style="width: 7rem; height: 7rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="container"> 

    <form>
      <div class="mb-3">
        <input type="date" class="form-control" id="recipient-name" placeholder="Dari tanggal">
        <label for="Date-time" class="col-form-label">s/d</label>
        <input type="date" class="form-control" id="recipient-name" placeholder="Sampai tanggal">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        data-bs-whatever="@mdo" style="margin-bottom: 15px;">Cari</button>
        <div class="modal-body">        
      </div>
  </div>
    <div class="tabel">
        <table>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col" nowrap>Nama Barang</th>
                <th scope="col">Kategori</th>
                <th scope="col">Jumlah</th>
                <th scope="col">Date-time</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    
                    <td nowrap><?php echo $user['nama']?></td>
                    <td><?php echo $user["username"] ?></td>
                    <td><?php echo $user["email"]?></td>
                    <td><?php echo $user["no_telp"]?></td>
                    <td><?php echo $user["gender"]?></td>
                    <td><?php echo $user["profile_picture"]?></td>

                </tr>
        </tbody>
    </table>
  </div>
</main> {% endblock %}